.all-container {
  margin: 90px 130px 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.image-side {
  width: 650px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-img {
  width: 400px;
  height: 100%;
  background-color: rgb(232, 230, 241);
  border-radius: 5px;
}
.big-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chair-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 20px;
}
.pick-img {
  width: 155px;
  height: 155px;
  background-color: rgb(232, 230, 241);
  border-radius: 5px;
}
.pick-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-side h1 {
  font-size: 38px;
  font-weight: 500;
  color: #3b3846;
  margin-top: 20px;
}
.price-rate {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.price {
  font-size: 32px;
  font-weight: 500;
  color: #3b3846;
}
.rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #c2ce1e;
  gap: 5px;
}
.descript {
  font-size: 16px;
  color: #5b566b;
  margin-top: 20px;
  line-height: 24px;
}
.deliver {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.deliver i {
  font-size: 20px;
  color: #5b566b;
}
.deliver p {
  font-size: 16px;
  color: #5b566b;
}
.btn-cart {
  width: 220px;
  height: 45px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 30px;
  background: #b47603;
  border: none;
}
