.container {
  width: 100%;
  height: 100vh;
  background-image: url(./images/background2.jpg);
  background-position: center;
  background-size: cover;
}
.content {
  width: 100%;
  height: 100vh;
  padding-left: 90px;
}
.heading {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  line-height: 68px;
}
.container p {
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
  line-height: 30px;
}
.shop-btn {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #b47603;
  padding: 8px 20px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
  border: none;
}

.card-preview {
  margin: 0 auto;
  width: 1155px;
  height: 210px;
  background: #ffffff;
  margin-top: -100px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 80px;
}

.block .icon {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.block i {
  margin: 0 auto;
  font-size: 40px;
  color: #022a36;
  text-align: center;
}
.block p {
  width: 150px;
  font-size: 16px;
  color: #3b3846;
  text-align: center;
}
