.nav {
  padding: 30px 90px;
  background-color: #022a36;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 5px;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
}
.logo p {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
}
.nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.nav ul li {
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  color: #ffffff;
  cursor: pointer;
}
.rigth-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-login {
  width: 80px;
  height: 35px;
  background: #dbdbdb;
  padding: 5px 20px;
  border-radius: 20px;
}
.nav-login button {
  font-size: 16px;
  font-weight: 500;
  color: #3b3846;
  background: transparent;
  border: none;
  cursor: pointer;
}
.cart {
  display: flex;
  justify-content: center;
}
.cart i {
  font-size: 24px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: #b47603;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -5px;
  cursor: pointer;
}
.dot p {
  font-size: 12px;
  color: #ffffff;
}
.cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #b47603;
  font-size: 12px;
  color: #ffffff;
}
